* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;
  background-color: black;
  color: darkorchid;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1r;
}

header > form {
  padding-right: 60px;
}

.box-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
  grid-gap: 85px;
  width: 100vh;
}

.box-area video {
  border-radius: 8px;
  width: 300px;
}

footer {
  background-color: black;
  color: darkorchid;
  text-align: center;
  padding: 20px;
}

.video {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
}

.video video {
  width: 70vw;
}
